body{
    background-size: 100vw 100vh;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    color: #187acf;
    margin-left: 30px;
}
.list{
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    font-size: 18px;
    font-weight: bold;
    background: #cbe7ff74;
    border-radius: 30px;
    margin-right: 20px;
    padding: 7px 15px 7px 15px;
    color: #187acf;
    text-decoration: none;
}
a:hover,
a:focus{
    background: #187acf;
    color: aliceblue;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    margin-right: 15%;
}
h1{
    font-size: 80px;
    color: #187acf;
    margin-left: 35px;
    margin-bottom: 0px;
}
.p1{
    font-size: 20px;
    margin-left: 35px;
    margin-top: 20px;
}
input{
    font-size: 15px;
    background: aliceblue;
    border: 1px solid #187acf;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    margin-left: 30px;
    color: #187acf;
    margin-top: 10px;
}
input:hover,
input:focus{
    background: #187acf;
    color: white;
}
img{
    width: 100%;
    max-width: 550px;
    height: auto;
}

@media (max-width:600px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a{
        font-size: 15px;
    }
}